@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #000;
  --icon-color: #a6acb8;
  --secondary-900: #040815;
  --secondary-400: #596780;
  --semibold-color: #757575;
  --light-bg: #f8f5ff;
  --bellbg: #9b9fab;
  --secondary-500: #1a202c;
  --search-input-color: #4f5867;
  --arsenic: #404045;
  --grey: #7c7c82;
  --icon-text-color: #61677f;
}

body {
  font-family: "Plus Jakarta Sans";
  background: #f8f5ff !important;
}

.mantine-Input-input:focus {
  outline: none !important;
}

.mantine-Input-input {
  border: none !important;
}

/* svg {
  /* fill: currentColor;
} */
.apexcharts-legend.apx-legend-position-right {
  justify-content: center !important;
}

.recharts-bar-rectangle {
  clip-path: inset(0% 0% -11% 0% round 20px) !important;
}

thead,
tr {
  clip-path: inset(0% 0% -1% 0% round 10px) !important;
}

.apexcharts-legend-marker {
  border-radius: 0px !important;
}

.recharts-cartesian-axis-tick {
  font-size: 12px !important;
}

.mantine-DateInput-icon {
  left: 70% !important;
}

.mantine-DateInput-input {
  min-height: 24px !important;
}

.mantine-gszoqu[data-with-icon] {
  padding-left: 12px !important;
}

th,
td {
  border-bottom: none !important;
  border-top: none !important;
}

.mantine-1lhu8g5[data-striped] > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

.mantine-Group-root {
  justify-content: flex-end !important;
}

.apexcharts-svg {
  width: 100% !important;
  height: 224.7;
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .apx-legend-position-right {
    padding-right: 10% !important;
  }
}

.mantine-Group-root {
  justify-content: center !important;
}

/* @media (max-width: 768px) {
  .mantine-1yhh8e {
    flex-direction: row !important;
  }
} */
